.jumbotron {
  padding: 50px 0 100px 0;
  background-image: url('images/landing/bg-jumbotron.svg');
  background-position: right;
  background-repeat: no-repeat;
  display: none;
}

.jumbotron h1, .jumbotron h2 {
  text-align: left;
  width: 50%;
  max-width: 500px;
}
.jumbotron h1 {
  font-size: 46px;
}
.jumbotron-landing-button {
  background-color: #FFC945;
  border: none;
  width: 240px;
  height: 60px;
  margin-top: 60px;
}
.jumbotron-landing-button:hover {
  background-color: #D2A129;
}
@media screen and (max-width: 767px) {
  .jumbotron h1, .jumbotron h2 {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .jumbotron {
    text-align: center;
  }
}









section.grids {
  background-color: #fff;
}
.grids-container {
  padding: 120px 0 90px
}
.grids-header {
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
}
.grids-header hr{
  border-color: #FFC945;
  width: 100px;
  border-width: 5px;
}
.grids-box {
  text-align: center;
  height: 300px;
}
.grid-title {
  margin-top: 15px;
  font-weight: bold;
}
.grid-caption {
  max-width: 250px;
  margin: 15px auto;
}






section.feature {
  background-color: #F7F8FA;
}
.feature-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 25px;
}
.feature-box {
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 30px 35px;
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.separate-right {
  margin-right: 80px;
}
.separate-left {
  margin-left: 80px;
}
.feature-title {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 25px;
}
.feature-subtitle {
  font-weight: bold;
  margin-bottom: 25px;
}
.feature-list {
  text-align: left;
  margin-bottom: 40px;
  margin-top: 25px;
  list-style-image: url('images/landing/check.svg');
}
.feature-list li {
  margin-bottom: 20px;
}
.feature-button {
  width: 240px;
}

@media screen and (max-width: 767px) {
  .feature-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 25px;
  }
  .separate-right {
    margin-right: 0;
    margin-bottom: 45px;
  }
  .separate-left {
    margin-left: 0;
  }

}


section.fulfillment {
  color: #fff;
  text-align: left;
  background: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)) ), url('images/landing/bg-fulfillment.png');
  background: -webkit-linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('images/landing/bg-fulfillment.png');
  background: -moz-linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('images/landing/bg-fulfillment.png');
  background: -o-linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('images/landing/bg-fulfillment.png');
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('images/landing/bg-fulfillment.png');
}

.fulfillment-container {
  padding: 135px 15px;
  max-width: 800px;
}

.fulfillment-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}
.fulfillment-caption {
  margin: 0 auto 40px auto;
  line-height: 1.8;
}
.fulfillment-btn-container {
  text-align: center;
}
.fulfillment-button {
  width: 240px;
  margin:auto;
}

@media screen and (max-width: 767px) {
  .fulfillment-caption {
    width: 100%;
  }

}